# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\1Second Bureau\POLYTECH\IG3\S6\Java\TP_lab6\PourGit\implementationCLEMENT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
